# conditional statements

1.if statement

In [1]:
marks=int(input("Enter marks:"))
passing=50
distinction=90

Enter marks:40

In [3]:
if marks>=distinction:
    print("your are excellent")
if marks>=passing and marks<distinction:
    print("you pass")
if marks<passing:
    print("you r fail")

you r fail

In [6]:
statement="The coffee is bad"
if "bad" in statement:
        print("Bad review")
statement="i am very good"
if "bad" in statement:
        print("good review")

Bad review

In [8]:
'a' in "hello"

False

In [11]:
if None:
    print("True")
else:
    print("Flase")

Flase

In [13]:
n=int(input("Enter a number"))
if n%2==0:
    print("Even")
else:
    print("Odd")

Enter a number5
Odd

# if a number is even should be check divisible by 4 and if a number is odd check divisible by 3 or not

In [2]:
n=int(input("Enter a number"))
if n%2==0:
    if(n%4==0):
        print("even and divisble by 4")
    else:
        print("even but not divisible by 4")
else:
    if(n%3==0):
        print("odd and divisible by 3")
    else:
        print("odd but not divisible by 4 ")

Enter a number8
even and divisble by 4

leap year or not

In [1]:
n=int(input("Enter the year"))
if(n%400==0) or (n%4==0 and n%100!=0):
    print("Leap year")
else:
    print("not a leap year")

Enter the year3000
not a leap year

check a number exist in given range(inclusive)

upperbound=70
lowerbound=150
n1=int(input("Enter a number"))
if(n1>=upperbound and n1<=lowerbound):
    print("The given num in given range")
else:
    print("not in given range")

 if a number is factor of 100

In [7]:
n=int(input("Enter a number"))
if(100%n==0):
    print("given num is factor of 100")
else:
    print("Given num is not a factor of 100")

Enter a number50
given num is factor of 100

In [9]:
n=int(input("Enter a number"))
if(n%10==0):
    print("Given num multiple of 10")
else:
    print("not a multiple of 10")

Enter a number5
not a multiple of 10

In [4]:
n=int(input("Enter the year"))
if(n%400==0) or (n%4==0 and n%100!=0):
   print("leap year") 
   d=366*24*60*60*10**9
print ("nano seconds",d)

Enter the year64
leap year
nano seconds 31622400000000000

check if given string equal to a  number

In [8]:
number=123456
st="python"
if(str(number))==st:
    print("Equal")
else:
    print("not equal")

not equal

find greatest of 3 numbers using elif

In [9]:
n=int(input("Enter a number"))
o=int(input("Enter sec number"))
p=int(input("Enter thrid number"))
if(n>o and n>p):
        print("n is large")
elif(o>n and o>p):
        print("o is large")
else:
        print("p is large")

Enter a number5
Enter sec number1
Enter thrid number0
n is large

take a number from the keybord
check the num is pos or neg or zero

In [10]:
n=int(input("Enter a number"))
if(n>0):
    if(n==0):
        print(0)
    else:
        print("pos")
else:
    print("neg")

Enter a number-3
neg

square root of number

In [ ]:
import math
n=int(input("Enter a  number"))
math.sqrt(n)

In [2]:
n=123456
len(str(n))

6

In [6]:
def pallindrome (s):
    if s==s[::-1]:
        return True
    else:
        return False
pallindrome("madam")

True

In [7]:
def leapyear(n):
    if(n%400==0) or (n%4==0 and n%100!=0):
        return True
    else:
        return False
leapyear(2000)

True

function to count the number digits in number
identify largest number in given 4 numbers

In [18]:
def countofnum(n):
    c=len(str(n))
    return c
countofnum(123)

3

In [21]:
def gratestnum(n1,n2,n3,n4):
    if(n1>n2 and n1>n3 and n1>n4):
        return n1
    elif(n2>n3 and n2>n4):
        return n2
    elif(n3>n4):
        return n3
    else:
        return n4
gratestnum(12,3,0,-1)

12

Recursion
    a function call it self

In [24]:
def factorial(n):
    fact=1
    for i in range(2,n+1):
        fact*=i
    return fact
factorial(5)

120

# Tasks in my Website


# Iteration/Loops

In [1]:
range(5)#0,1,2,3,4

range(0, 5)

1)For loop

In [4]:
for i in range(5):
    print(i)

0
1
2
3
4

In [6]:
s1="Hello"
for i in s1:
    print(i)

H
e
l
l
o

In [7]:
#print hello in single line seperated by,
for i in s1:
    print(i,end=',')

H,e,l,l,o,

In [10]:
s2="s,u,b,h,a"
for i in s2:
  print(i,sep=",")

s
s,,
,,u
u,,
,,b
b,,
,,h
h,,
,,a
a,

In [11]:
s2="s,u,b,h,a"
for i in s2:
  print(i,end=",")

s,,,u,,,b,,,h,,,a,

In [12]:
print(43,56,sep=".")

43.56

In [13]:
print(43,56,end=".")

43 56.

In [16]:
for i in range(1,11):
    if i%2==0:
        print(i,end=" ")

2 4 6 8 10

In [17]:
for i in range(2,11,2):
        print(i,end=" ")

2 4 6 8 10

In [20]:
for i in range(1,11,2):
    print(i,sep=" ")

1
3
5
7
9

starting value should be 7 and end value sshould be 1000 and diff=7

In [29]:
for i in range(7,1000,7):
        print(i,end=",")

7,14,21,28,35,42,49,56,63,70,77,84,91,98,105,112,119,126,133,140,147,154,161,168,175,182,189,196,203,210,217,224,231,238,245,252,259,266,273,280,287,294,301,308,315,322,329,336,343,350,357,364,371,378,385,392,399,406,413,420,427,434,441,448,455,462,469,476,483,490,497,504,511,518,525,532,539,546,553,560,567,574,581,588,595,602,609,616,623,630,637,644,651,658,665,672,679,686,693,700,707,714,721,728,735,742,749,756,763,770,777,784,791,798,805,812,819,826,833,840,847,854,861,868,875,882,889,896,903,910,917,924,931,938,945,952,959,966,973,980,987,994,

In [35]:
for i in range(994,6,-7):
   print(i,end=",")

994,987,980,973,966,959,952,945,938,931,924,917,910,903,896,889,882,875,868,861,854,847,840,833,826,819,812,805,798,791,784,777,770,763,756,749,742,735,728,721,714,707,700,693,686,679,672,665,658,651,644,637,630,623,616,609,602,595,588,581,574,567,560,553,546,539,532,525,518,511,504,497,490,483,476,469,462,455,448,441,434,427,420,413,406,399,392,385,378,371,364,357,350,343,336,329,322,315,308,301,294,287,280,273,266,259,252,245,238,231,224,217,210,203,196,189,182,175,168,161,154,147,140,133,126,119,112,105,98,91,84,77,70,63,56,49,42,35,28,21,14,7,

In [41]:
for i in range(98,49,-2):
   print(i,end=",")

98,96,94,92,90,88,86,84,82,80,78,76,74,72,70,68,66,64,62,60,58,56,54,52,50,

2)while loop

In [1]:
i=1
while(i<=10):
    print(i,end=" ")
    i=i+1

1 2 3 4 5 6 7 8 9 10

In [4]:
i=3
while(i<=100):
    print(i,end=" ")
    i=i+3

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99

In [8]:
i=99
while(i>2):
    print(i,end=" ")
    i=i-3

99 96 93 90 87 84 81 78 75 72 69 66 63 60 57 54 51 48 45 42 39 36 33 30 27 24 21 18 15 12 9 6 3

In [1]:
s=input()
i=0
while(i<len(s)):
    print(s[i],end=",")
    i=i+1

subha
s,u,b,h,a,

In [ ]:
#functions to print n natural numbers by using for loop

def nat(n):
    for i in range(1,n+1):
        print(i)
nat(10)

In [9]:
def nat(n):
    i=1
    while(i<=n):
        print(i)
        i=i+1
nat (10)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#function to print alternate values in a range in a same line

In [13]:
def numrange(n):
    for i in range(500,550,3):
        print(i,end=",")
numrange(550)

500,503,506,509,512,515,518,521,524,527,530,533,536,539,542,545,548,

In [19]:
def altnum(start,end):
    for i in range(start,end,3):
        print(i,end=" ,")
altnum(500,550)

500 ,503 ,506 ,509 ,512 ,515 ,518 ,521 ,524 ,527 ,530 ,533 ,536 ,539 ,542 ,545 ,548 ,

In [ ]:
#function to print reverse of given range in the samle line
#function to calculate the odd numbers in reverse order
#function to calulate the sum of the numbers in given range
#funtion to calculate the avg of numbers in the given range

In [1]:
def reversenum(n):
    for i in range(n,0,-1):
        print(i,end=",")
reversenum(10)

10,9,8,7,6,5,4,3,2,1,

In [9]:
def oddnum(n):
    for i in range(n,0,-1):
        if(i%2!=0):
            print(i,end=",")
oddnum(7)

7,5,3,1,

In [20]:
def addsum(a,b):
    sum=0
    for i in range(a,b+1,1):
        sum=sum+i
    print(sum)
addsum(90,110)

2100

In [23]:
def numrange(b):
    sum=0
    for i in range(1,b+1):
        sum=sum+i
        avg=sum//b
    print(sum)
    print(avg)
numrange(10)

55
5

In [7]:
def factorsum(n):
    sum=0
    for i in range(1,n+1):
        if(n%i==0):
            print(i)        
            sum=sum+i
    print(sum,end=",")
factorsum(12)

1
2
3
4
6
12
28,

In [ ]:
# to check given number is prime or not?

In [5]:
def checkprimenum(n):
    count=0    
    for i in range(2,n//2):
        if(n%i==0):
            count=count+1
    if(count==0):
        print("Given num is prime")
checkprimenum(3)

Given num is prime