### python Data structure
1)Lists

In [1]:
li=[]
type(li)

list

In [2]:
li

[]

In [3]:
li=[1,2,34,45]
li[1]#index of lists starts from zero

2

In [4]:
li[1:]

[2, 34, 45]

In [5]:
li[0:]#ccessing all elements

[1, 2, 34, 45]

In [6]:
li[::-1]#Revesing of a list

[45, 34, 2, 1]

In [7]:
li

[1, 2, 34, 45]

In [8]:
li[::2]#incrementing 2 positions

[1, 34]

In [10]:
li[1::2]#skipping 1 element

[2, 34, 45]

In [11]:
name="hari"
mylist=[]
print(type(name),type(mylist))

<class 'str'> <class 'list'>

In [12]:
mylist=list()
type(mylist)

list

In [13]:
names=["subha","sree"]
type(names)
len

list

In [14]:
len(names)

2

In [15]:
name[0]

'h'

In [16]:
names[0]

'subha'

# List Methods

### Append
    To add new item in the available list

In [17]:
names.append("lavanya")

In [18]:
names

['subha', 'sree', 'lavanya']

In [19]:
new_persions=["pallavi","vasavi","sukanya"]
names.append(new_persions)

In [20]:
names

['subha', 'sree', 'lavanya', ['pallavi', 'vasavi', 'sukanya']]

In [21]:
len(names)

4

# #Extend Method

In [26]:
names1=["subha","sree","lavanya"]

In [28]:
new_persons=["pallavi","vasavi","sukanya"]

In [29]:
names1.extend(new_persions)

In [30]:
names1

['subha', 'sree', 'lavanya', 'pallavi', 'vasavi', 'sukanya']

In [31]:
len(names1)

6

# ## copy()
To take new backup of available list

In [32]:
subha=[20,30,40,50]
sree=subha.copy()

In [33]:
sree

[20, 30, 40, 50]

In [34]:
subha

[20, 30, 40, 50]

In [35]:
girls=["subha","anu","lav"]
girls[1]="sukanya"

In [36]:
girls

['subha', 'sukanya', 'lav']

In [37]:
dir(girls)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# clear()
- To remove all the elements in the list

In [38]:
girls

['subha', 'sukanya', 'lav']

In [39]:
girls.clear()

# Count(item)
-it can search for given item and return the number of the occurances of the list

In [42]:
girls=["subha","lav","anu","subha"]

In [43]:
print(girls)

['subha', 'lav', 'anu', 'subha']

In [44]:
girls.count("subha")

2

In [45]:
girls.count("anu")

1

In [46]:
numbers=[1,2,3,4,45,[2,45]]
numbers.count(2)

1

# index (item,start_index_for_searching)
-return index of first occurance of the item in list if available other =wise value shows error

In [47]:
numbers.index(45)

4

In [50]:
num=[1,2,3,1,2,3,1,2,3]
num.index(2,4)

4

# insert (index_value,item)
-if given index available it can add item at given index oterwise it add last index

In [52]:
num1=[1,2,3,4,5,6,7]
num1.insert(3,4)

In [53]:
num1

[1, 2, 3, 4, 4, 5, 6, 7]

In [54]:
num=[10,20,30,40,60]
num.insert(50,100)

In [55]:
num

[10, 20, 30, 40, 60, 100]

# POP()
-removes the element at the specific position

In [56]:
good_girls=["ponisha","mohini","divya","madhuri","java"]
good_girls.pop(2)

'divya'

In [57]:
good_girls

['ponisha', 'mohini', 'madhuri', 'java']

# Remove()
-Removes specific item

In [60]:
absentee_girls=["rani","bhanu","laya","puja"]
absentee_girls.remove("puja")

In [61]:
absentee_girls=["rani","bhanu","laya","puja","puja"]
absentee_girls.remove("puja")

In [62]:
absentee_girls

['rani', 'bhanu', 'laya', 'puja']

# Reverse()
  -Reverse the itmes

In [63]:
active_girls=["bharthi","jaya","keerti","mohni"]
active_girls.reverse()

In [64]:
active_girls

['mohni', 'keerti', 'jaya', 'bharthi']

# Sort()
   -sort the list alhabetically

In [67]:
absentee_girls.sort()

In [69]:
absentee_girls

['bhanu', 'laya', 'puja', 'rani']

In [70]:
name=["mom","munni","mohna"]

In [71]:
name.sort()

In [72]:
name

['mohna', 'mom', 'munni']