# Dictionaries

In [1]:
list1=[10,20,30]
list1[0]

10

In [3]:
dict1={}
dict1={'key1':'value1','key2':'value2'}
dict2={1:10,2:20,3:30}
dict2[1]
dict1['key1']

'value1'

# Dictionaly Methods
-get()

In [4]:
dict1={'k1':100,'k2':200,'k3':300}
dict2=dict1.get('k2')
dict2

200

.keys(),.values() and items()

In [6]:
dict1.keys()

dict_keys(['k1', 'k2', 'k3'])

In [7]:
dict1.values()

dict_values([100, 200, 300])

In [8]:
dict1.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

.update()
.setdefault()
.copy()

In [11]:
student={'name':'Bharghavi','pin':140351,'branch':'cse','age':22}
student.update({'age':19})

In [12]:
student

{'name': 'Bharghavi', 'pin': 140351, 'branch': 'cse', 'age': 19}

In [13]:
student.update({'cell no':8096316792})

In [14]:
student

{'name': 'Bharghavi',
 'pin': 140351,
 'branch': 'cse',
 'age': 19,
 'cell no': 8096316792}

In [17]:
student.setdefault('age',20)

19

In [18]:
student2=student.copy()

In [19]:
student2

{'name': 'Bharghavi',
 'pin': 140351,
 'branch': 'cse',
 'age': 19,
 'cell no': 8096316792}

# pop()
popitems()
clear()

In [20]:
d={1:'a',2:'b',3:'c'}
d.popitem()

(3, 'c')

In [21]:
d

{1: 'a', 2: 'b'}

In [22]:
d.pop(1)

'a'

In [23]:
d

{2: 'b'}

In [24]:
d.clear()

In [25]:
d

{}

In [34]:
d1={'name1':'bharghavi','name2':'anupallavi','name3':'hima'}
d2={'pin1':123,'pin2':234,'pin3':567}
d1.update(d2)

In [35]:
d1

{'name1': 'bharghavi',
 'name2': 'anupallavi',
 'name3': 'hima',
 'pin1': 123,
 'pin2': 234,
 'pin3': 567}

In [43]:
d1={'name1':'bharghavi','name2':'anupallavi','name3':'hima'}
d2={'pin1':123,'pin2':234,'pin3':567}
d={1:'a',2:'b',3:'c'}
student={'name':'Bharghavi','pin':140351,'branch':'cse','age':22}
subha={}
for i in d1,d2,d,student:
        subha.update(i)
print(subha)

{'name1': 'bharghavi', 'name2': 'anupallavi', 'name3': 'hima', 'pin1': 123, 'pin2': 234, 'pin3': 567, 1: 'a', 2: 'b', 3: 'c', 'name': 'Bharghavi', 'pin': 140351, 'branch': 'cse', 'age': 22}

# python program to build a contact application

In [28]:
contacts={}
def addcontacts(name,phone):
    if name not in contacts:
        contacts[name]=phone
        print ('contact added')
    else:
        print("contact is already exist")
    return
addcontacts("subha",8096316792)
addcontacts("anu",8639870887)
print(contacts)

contact added
contact added
{'subha': 8096316792, 'anu': 8639870887}

In [27]:
def search_contact(name):
    if name in contacts:
        print("contact exist with this name")
    else:
        print("no contacct existed with this name")
        contacts.update({"name":"subha"})
def search_contact(name)        ]

SyntaxError: invalid syntax (<ipython-input-27-0787b78cea1d>, line 7)

In [49]:
students={1:['Anupallavi','cse'],2:['Madhuri','ece'],3:['Mohini','civil']}
students

{1: ['Anupallavi', 'cse'], 2: ['Madhuri', 'ece'], 3: ['Mohini', 'civil']}

In [56]:
for key in students:
    
    print(i,":",students[i])

1 : ['Anupallavi', 'cse']
1 : ['Anupallavi', 'cse']
1 : ['Anupallavi', 'cse']

In [59]:
for key,value in students.items():
    print(key,":",value)

1 : ['Anupallavi', 'cse']
2 : ['Madhuri', 'ece']
3 : ['Mohini', 'civil']

In [62]:
d={}
for i in range(1,11):
    d[i]=i+1

In [67]:
d1={'n1':100,'n2':200,'n3':700}
result=sum(d1.values())
avg=result//len(d1)
print(avg)

333

In [66]:
d1

{'n1': 100, 'n2': 200, 'n3': 700}

In [68]:
f=1
for i in d1:
    f=f*d1[i]
print (f)

14000000

In [22]:
list1=[10,20,30]
list2=[100,200,300]
m=len(list1)
list3={}
for i in range(0,m):
        list3[list1[i]]=list2[i]
print(list3)

{10: 100, 20: 200, 30: 300}