# Tuples

In [ ]:
#collection of elements which is ordered and unchangeable

In [1]:
t=(10,20,30)
t

(10, 20, 30)

In [2]:
type(t)

tuple

In [4]:
for each in t:
    print(each)

10
20
30

In [6]:
t[0:3:2]

(10, 30)

In [11]:
first_tuple=("subha",30,"sri",4)
print(first_tuple)

('subha', 30, 'sri', 4)

In [13]:
print(first_tuple[0])

subha

In [14]:
print(len(first_tuple))

4

In [ ]:
#count no of elements in tuple

In [15]:
first_tuple.count(1000)

0

In [17]:
first_tuple.count("subha")

1

In [20]:
c=("sri",12,"hyd","chennai")
b=c[:-1]

In [22]:
print(b)

('sri', 12, 'hyd')

In [23]:
c=list(b)

In [24]:
c

['sri', 12, 'hyd']

In [25]:
print("c is : {0}".format(c))

c is : ['sri', 12, 'hyd']

In [26]:
c=tuple(c)

In [28]:
print("c is now a tuple:{0}".format(c))

c is now a tuple:('sri', 12, 'hyd')

In [30]:
x=("ruksana","maduri","divya","bharghavi")
y=list(x)
y[1]="subbu"
print(y)
x=tuple(y)
print(x)

['ruksana', 'subbu', 'divya', 'bharghavi']
('ruksana', 'subbu', 'divya', 'bharghavi')

In [31]:
if "subbu" in x:
    print("yes")
else:
    print("not found")

yes

In [32]:
y=(10,20,30)

In [33]:
y

(10, 20, 30)

In [34]:
del y

In [35]:
y

NameError: name 'y' is not defined

In [36]:
a=("a","b","c","d")
b=(1,2,3,4)
c=a+b
print(c)

('a', 'b', 'c', 'd', 1, 2, 3, 4)

In [ ]:
#program to convert given tuple into string

In [50]:
t=(1,2,3,4)
k=str(t)
type(k)

str

In [38]:
k

'(1, 2, 3, 4)'

In [39]:
s=("a","b","c","d")
str(s)

"('a', 'b', 'c', 'd')"

In [41]:
d="".join(s)

In [42]:
d

'abcd'

In [49]:
d=('a','b','c','d')
s=''
for i in range(len(d)):
    s+=d[i]
print(s)

abcd

# sets

In [51]:
s={10,20,30}

In [54]:
s

{10, 20, 30}

In [52]:
s={10,20,30,10}

In [53]:
s

{10, 20, 30}

In [55]:
s[0]

TypeError: 'set' object is not subscriptable

In [56]:
names={"subha","sree","bujji"}
for i in names:
    print(i)

bujji
subha
sree

In [57]:
print("subha" in names)

True

In [58]:
#add method
names={"subha","sree","bujji"}
names.add("anu")
print(names)

{'bujji', 'subha', 'anu', 'sree'}

In [59]:
type(names)

set

In [60]:
#update method
names.update(["naga","jaya"])

In [61]:
names

{'anu', 'bujji', 'jaya', 'naga', 'sree', 'subha'}

In [62]:
#length method
print(len(names))

6

In [64]:
#Remove()-removes the item and if item is not present in the set it just displaus the error
names.remove("anu")

In [65]:
names

{'bujji', 'jaya', 'naga', 'sree', 'subha'}

In [66]:
#discard-if element is not in set it just terminate
names.discard("jaya")

In [67]:
names

{'bujji', 'naga', 'sree', 'subha'}

In [69]:
#pop()-remove any one of the  elements from the set
names.pop()

'naga'

In [70]:
names

{'bujji', 'sree', 'subha'}

In [71]:
#clear()- clears the complete set
names.clear()

In [72]:
names

set()

In [73]:
dir(names)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [76]:
#del completely deletes and after deletion it just displayed like not defined
names={"lav","subha","anu","vasu"}
del names

In [77]:
names

NameError: name 'names' is not defined

In [ ]:
#Union()-combines two elements

In [79]:
s1={1,2,3}
s2={4,5,6}
s3=s1.union(s2)
print(s3)

{1, 2, 3, 4, 5, 6}

In [80]:
#intersection
s1.intersection(s2)

set()

In [81]:
#difference
s2.difference(s1)

{4, 5, 6}

In [83]:
s1.difference_update(s2)

In [84]:
s1

{1, 2, 3}

In [85]:
s1={1,2,3}
s2={1,2,3,4,5,6}
s1.issubset(s2)

True

In [86]:
s1

{1, 2, 3}

In [87]:
s2

{1, 2, 3, 4, 5, 6}

In [88]:
s1.symmetric_difference(s2)

{4, 5, 6}

# Packages and Modules

In [ ]:
#package-collection of modules
#Module-A single python file containing functions
#package--->Subpackages--->Modules--->Functions

# Module

In [92]:
def hari(name):
    print("hello"+name)

In [93]:
import firstmodule
firtsmodule.print("jss")

ModuleNotFoundError: No module named 'firstmodule'

### Packages

In [94]:
from math import floor as f1
f1(2343.3223423)

2343

In [98]:
import random
def rand(n,lb,ub):
    for i in range(0,n):
        print(random.randint(lb,ub),end =" ")
rand(10,1,100)

31 2 22 80 58 5 8 36 28 66

In [99]:
from packages.numerical import isPrime as p
p(3)

ModuleNotFoundError: No module named 'packages'

In [104]:
#squre root of a number
from math import sqrt as f1
f1(256)

16.0